packages
buildoutput

# macOS
.DS_Store

# Paket dependency manager
paket-files/
paket.targets
Paket.Restore.targets

# Visual Studio 2015 cache/options directory
.vs/
.userprefs

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
DebugBuild.log
ReleaseBuild.log
branch.txt
version.txt
.idea
